<div class="invoice-wrapper d-flex align-items-center justify-content-center">
    <div class="invoice-box fadeInDown animated">
        <div class="text-center text-sm-right">
            <button class="btn bg-white border-color-7 fw-120 mr-10 rounded-half-circle text-color-6"  ng-click="change_route('cashloan')"><i class="mdi mdi-arrow-left" aria-hidden="true"></i> Back</button>
            <button class="btn btn-primary fw-120 rounded-half-circle" ng-click="PrintDIV()"><i class="mdi mdi-near-me" aria-hidden="true"></i> Print</button>
            <!-- ng-print print-element-id="printThisElement" -->
        </div>
        <div id="dvContents" class="bg-white border border-color-7 px-25 py-50 px-sm-30 py-sm-80 mt-25 rounded">
            <div class="d-block d-sm-flex justify-content-between">
                <div class="text-center text-sm-left">
                    <img class="fw-65" src="assets/images/logo.png" alt="Generic placeholder image">
                </div>
                <div class="text-center text-sm-right mt-50 mt-sm-0">
                    <div class="text-size-15 lh-16 font-weight-normal">APARAJITA MUTUAL FUND</div>
                    <div class="mt-10">Krishna Nagar, Haridevpur, Kolkata - 700 104</div>
                    <!-- <div>United States</div> -->
                    <!-- <div class="mt-15">wiley.gladwyn@left4code.com</div> -->
                    <div>9330152304 | 9051394508</div>
                </div>
            </div>
            <div class="table-responsive mt-20">
                <table class="print_design table-bordered">
                    <thead>
                        <tr>
                            <th style="background: #ccc;" colspan="4" class="text-center">CASH LOAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Customer Name</td>
                            <td>{{loanDetails.customerName}} [{{loanDetails.customerPhoneNo}}]</td>
                            <td>Loan Amount</td>
                            <td>{{loanDetails.loanAmount}}</td>
                        </tr>
                        <tr>
                            <td>Customer ID</td>
                            <td>{{loanDetails.customerId}}</td>
                            <td>Less : Processing Charge</td>
                            <td>{{loanDetails.loanProcessingCharge}}</td>
                        </tr>
                        <tr>
                            <td>Loan A/c No</td>
                            <td>{{loanDetails.loanId}}</td>
                            <td>Disb. Amount</td>
                            <td>{{(loanDetails.loanDisbursedAmount)}}</td>
                        </tr>
                        <tr>
                            <td>Loan Disb. Date</td>
                            <td>{{loanDisburseDate}}</td>
                            <td>ROI</td>
                            <td>{{loanDetails.roi}}</td>
                        </tr>
                        <tr>
                            <td>Payment Mode</td>
                            <td>{{loanDetails.paymentMode}}</td>
                            <td>Tenure</td>
                            <td>{{loanDetails.tenure}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-20">
                <table class="print_design table-bordered">
                    <thead>
                        <tr>
                            <th style="background: #ccc;" colspan="9" class="text-center">REPAYMENT SCHEDULE</th>
                        </tr>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-right">Principal</th>
                            <th class="text-right">Int.</th>
                            <th class="text-right">EMI</th>
                            <th class="text-right">O/S</th>
                            <th>C. Date</th>
                            <th>R. No</th>
                            <th class="text-right">Amount</th>
                            <th>Signature</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!checkEmpty(installmentDetails)" ng-repeat="row in installmentDetails track by $index">
                            <td class="text-center">{{row.date}}</td>
                            <td class="text-right ">{{row.principle}}</td>
                            <td class="text-right ">{{row.interest}}</td>
                            <td class="text-right ">{{row.installment}}</td>
                            <td class="text-right ">{{row.balance}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-10 mt-sm-10 text-center text-sm-left">
                <div class="text-size-16 lh-16 font-weight-normal">Notes</div>
                <div class="mt-10">Please make the payment of this invoice by transfer to the account <span class="font-weight-normal">xxxx-xxxx-xx-xxxxxxxxxxxx</span>. Thank you for your confidence in our work.</div>
            </div>
        </div>
    </div>
</div>