<div class="row align-items-center">
    <div class="col-6">
        <div class="text-size-19 font-weight-normal mt-20">Cash Flow Details</div>
        <div>Cash Flow with their details</div>
    </div>
    <div class="col-6">
        <div class="form-inline justify-content-end mt-35">
            <div class="content-box position-relative rounded-half-circle fw-170 mx-10">
                <input type="text" class="font-weight-normal form-control border-0 bg-transparent" value="02/06/2018">
                <i class="icon mdi mdi-calendar-multiselect text-size-16 text-color-2 position-absolute post-5 posr-10"></i> 
            </div>
            <div class="d-none d-lg-block">to</div>
            <div class="content-box position-relative rounded-half-circle fw-170 mt-2 mt-lg-0 mx-10">
                <input type="text" class="font-weight-normal form-control border-0 bg-transparent" value="02/06/2019">
                <i class="icon mdi mdi-calendar-multiselect text-size-16 text-color-2 position-absolute post-5 posr-10"></i> 
            </div>
            <button type="button" ng-click="change_route('cashloan/add')" class="btn fw-sm-120 rounded-half-circle mb-5 btn-dark">Search</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="content-box mt-20 fadeInUp animated">
            <div class="row no-gutters p-15 align-items-center">
                <div class="col-12 box-title"></div>
            </div>
            <div class="px-15 pb-15">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>INCOMES</th>
                            <th class="text-right">AMOUNT</th>
                            <th class="text-right border-right">AMOUNT</th>
                            <th>EXPENSES</th>
                            <th class="text-right">AMOUNT</th>
                            <th class="text-right">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="checkEmpty(cashFlowList)">
                            <th colspan="6">No data found..</th>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table style="width: 100%;">
                                    <tr>
                                        <td colspan="2">Processing Charge</td>
                                        <td class="text-right border-right">{{cashFlowIncomes.processing_charge.total}}</td>
                                    </tr>
                                    <tr>
                                        <td>- Gold Loan</td>
                                        <td class="text-right">{{cashFlowIncomes.processing_charge.gold_loan}}</td>
                                        <td class="text-right border-right"></td>
                                    </tr>
                                    <tr>
                                        <td>- Cash Loan</td>
                                        <td class="text-right">{{cashFlowIncomes.processing_charge.cash_loan}}</td>
                                        <td class="text-right border-right"></td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="3">
                                <table style="width: 100%;">
                                    <tr>
                                        <td colspan="2">Loan Disbursement</td>
                                        <td class="text-right">{{cashFlowExpenses.loan_disbursement.total}}</td>
                                    </tr>
                                    <tr>
                                        <td>- Gold Loan</td>
                                        <td class="text-right">{{cashFlowExpenses.loan_disbursement.gold_loan}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr>
                                        <td>- Cash Loan</td>
                                        <td class="text-right">{{cashFlowExpenses.loan_disbursement.cash_loan}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>