<div class="row align-items-center">
    <div class="col-6">
        <div class="text-size-19 font-weight-normal mt-20">Cash Flow Details</div>
        <div>Cash Flow with their details</div>
    </div>
    <div class="col-6">
        <div class="form-inline justify-content-end mt-35">
            <div class="content-box position-relative rounded-half-circle fw-170 mx-10">
                <input type="text" class="font-weight-normal form-control border-0 bg-transparent" value="02/06/2018">
                <i class="icon mdi mdi-calendar-multiselect text-size-16 text-color-2 position-absolute post-5 posr-10"></i> 
            </div>
            <div class="d-none d-lg-block">to</div>
            <div class="content-box position-relative rounded-half-circle fw-170 mt-2 mt-lg-0 mx-10">
                <input type="text" class="font-weight-normal form-control border-0 bg-transparent" value="02/06/2019">
                <i class="icon mdi mdi-calendar-multiselect text-size-16 text-color-2 position-absolute post-5 posr-10"></i> 
            </div>
            <button type="button" ng-click="change_route('cashloan/add')" class="btn fw-sm-120 rounded-half-circle mb-5 btn-dark">Search</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="content-box mt-20 fadeInUp animated">
            <div class="row no-gutters p-15 align-items-center">
                <div class="col-12 box-title"></div>
            </div>
            <div class="px-15 pb-15">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Disb. Date</th>
                            <th scope="col">Name</th>
                            <th scope="col" style="text-align: right;">Loan Amount</th>
                            <th scope="col" style="text-align: right;">Processing Charge</th>
                            <th scope="col" style="text-align: right;">Disbursed Amount</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="checkEmpty(cashLoanList)">
                            <th colspan="7">No data found..</th>
                        </tr>
                        <tr ng-if="!checkEmpty(cashLoanList)" ng-repeat="row in cashLoanList track by $index">
                            <th scope="row">{{$index+1}}</th>
                            <td>
                                {{row.disbursement_date}}</br>
                                <small>Loan ID : {{row.id}}</small>
                            </td>
                            <td>
                                {{row.name}}</br>
                                <small>Customer ID : {{row.customer_id}}</small>
                            </td>
                            <td class="text-right">{{row.loan_amount | number: 2}}</td>
                            <td class="text-right">{{row.processing_charge | number: 2}}</td>
                            <td class="text-right">{{(row.loan_amount-row.processing_charge)|number: 2}}</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                    <button type="button" class="btn btn-primary">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-warning" ng-click="change_route('cashloan/print/'+row.id)">Print</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>