<div class="top-bar-box">
    <div class="container">
        <div class="top-bar">
            <div class="page-info">{{cur_page}}</div>
            <div class="top-side-box ng-hide">
                <div class="notification-box">
                    <div class="notification-item">
                        <i class="icon mdi mdi-earth" aria-hidden="true"></i> 
                        <div class="bullet"></div>
                        <div class="notification-content">
                            <div class="header">
                                <div class="title">Notifications</div>
                                <div class="action"> <a href="#">Mark all as read</a> <a href="#">See all</a> </div>
                            </div>
                            <div class="content">
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-2.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                        <div class="time">1 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-3.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                        <div class="time">5 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                        <div class="time">4 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-2.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                        <div class="time">5 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-3.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                        <div class="time">4 Hours ago</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="notification-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="notification-content">
                            <div class="header">
                                <div class="title">Notifications</div>
                                <div class="action"> <a href="#">Mark all as read</a> <a href="#">See all</a> </div>
                            </div>
                            <div class="content">
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Geena Fern</span> shared tour post. </div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-2.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Wiley Gladwyn</span> posted in UI/UX Event 2018. </div>
                                        <div class="time">1 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-3.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                        <div class="time">5 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                        <div class="time">4 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-2.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Wiley Gladwyn</span> changed group name. </div>
                                        <div class="time">5 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-3.jpg" alt="Generic placeholder image">
                                    <div class="info">
                                        <div class="text"> <span class="highlight">Geena Fern</span> added new post. </div>
                                        <div class="time">4 Hours ago</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="notification-item">
                        <i class="icon mdi mdi-view-grid" aria-hidden="true"></i> 
                        <div class="bullet"></div>
                        <div class="notification-content">
                            <div class="header">
                                <div class="title">Messages</div>
                                <div class="action"> <a href="#">Mark all as read</a> <a href="#">See all</a> </div>
                            </div>
                            <div class="messages-content">
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                                    <div class="messages-box">
                                        <div class="name">Wiley Gladwyn</div>
                                        <div class="messages">Shared tour post.</div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-2.jpg" alt="Generic placeholder image">
                                    <div class="messages-box">
                                        <div class="name">Nadia Raelene</div>
                                        <div class="messages">Posted in UI/UX Event 2018.</div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-3.jpg" alt="Generic placeholder image">
                                    <div class="messages-box">
                                        <div class="name">Geena Fern</div>
                                        <div class="messages">Changed group name.</div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                                    <div class="messages-box">
                                        <div class="name">Wiley Gladwyn</div>
                                        <div class="messages">Added new post.</div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-2.jpg" alt="Generic placeholder image">
                                    <div class="messages-box">
                                        <div class="name">Wiley Gladwyn</div>
                                        <div class="messages">Shared tour post.</div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item">
                                    <img src="assets/images/profile-3.jpg" alt="Generic placeholder image">
                                    <div class="messages-box">
                                        <div class="name">Nadia Raelene</div>
                                        <div class="messages">Posted in UI/UX Event 2018.</div>
                                        <div class="time">2 Hours ago</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-nav-toggle"> <i class="icon mdi mdi-menu" aria-hidden="true"></i> Menu </div>
            <div class="user-profile">
                <img ng-click="userProfileShowHide()" class="user-image" src="assets/images/profile-1.jpg" alt="Generic placeholder image">
                <div ng-click="userProfileShowHide()" class="info">
                    <div class="user-name">{{ user.firstname }} {{ user.lastname }}</div>
                    <div class="user-info">Administrator</div>
                </div>
                <div class="user-profile-content" ng-style="{display: isVisibleUserProfile == true? 'block':'none'}">
                    <a href="javascript:;"> <i class="icon mdi mdi-settings" aria-hidden="true"></i> Settings </a>
                    <a href="javascript:;"> <i class="icon mdi mdi-textbox-password" aria-hidden="true"></i> Change Password </a>
                    <a href="javascript:;" ng-click="logout()"> <i class="icon mdi mdi-logout-variant" aria-hidden="true"></i> Logout </a>
                </div>
            </div>
        </div>
    </div>
</div>