<aside class="side-nav-box">
    <a class="logo-box" href="javascript:;">
        <img class="logo" src="assets/images/logo-light.png" alt="Generic placeholder image">
        <div class="title text-white">Aparajita Finance</div>
    </a>
    <div class="side-nav">
        <!-- <div class="title">Start</div> -->
        <div class="main-menu">
            <ul>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('home')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('customer')" class="menu-item">
                        <i class="icon mdi mdi-home-lock-open" aria-hidden="true"></i> 
                        <div class="title">Customer Registration</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">Loans</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('goldloan')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Gold Loan</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('cashloan')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Cash Loan</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">Reports</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('cashflow')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Cash Flow</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>