<aside class="side-nav-box">
    <a class="logo-box" href="javascript:;">
        <img class="logo" src="assets/images/logo-light.png" alt="Generic placeholder image">
        <div class="title text-white">Attrax</div>
    </a>
    <div class="side-nav">
        <div class="title">Start</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('home')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('goldloan')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Gold Loan</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('cashloan')" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">Cash Loan</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="change_route('customer')" class="menu-item">
                        <i class="icon mdi mdi-home-lock-open" aria-hidden="true"></i> 
                        <div class="title">Customer Registration</div>
                    </a>
                </li>
                <li>
                    <a href="login.html" class="menu-item">
                        <i class="icon mdi mdi-database-lock" aria-hidden="true"></i> 
                        <div class="title">Login</div>
                    </a>
                </li>
                <li>
                    <a href="forgot-password.html" class="menu-item">
                        <i class="icon mdi mdi-collage" aria-hidden="true"></i> 
                        <div class="title">Forgot Password</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">Pages</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="icon.html" class="menu-item">
                        <i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> 
                        <div class="title">Icon</div>
                    </a>
                </li>
                <li>
                    <a href="error.html" class="menu-item">
                        <i class="icon mdi mdi-feature-search" aria-hidden="true"></i> 
                        <div class="title">Error Page</div>
                    </a>
                </li>
                <li>
                    <a href="invoice.html" class="menu-item">
                        <i class="icon mdi mdi-credit-card" aria-hidden="true"></i> 
                        <div class="title">Invoice</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="menu-item">
                        <i class="icon mdi mdi-buffer" aria-hidden="true"></i> 
                        <div class="title">3 Level Menu</div>
                    </a>
                    <div class="sub-menu">
                        <ul>
                            <li>
                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 1</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 2</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Menu 3</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="icon mdi mdi-calendar-blank" aria-hidden="true"></i> Submenu 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="title">Apps</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="file-manager.html" class="menu-item">
                        <i class="icon mdi mdi-folder-open" aria-hidden="true"></i> 
                        <div class="title">File Manager</div>
                    </a>
                </li>
                <li>
                    <a href="mail.html" class="menu-item">
                        <i class="icon mdi mdi-email-check" aria-hidden="true"></i> 
                        <div class="title">Mailbox</div>
                    </a>
                </li>
                <li>
                    <a href="chat.html" class="menu-item">
                        <i class="icon mdi mdi-forum" aria-hidden="true"></i> 
                        <div class="title">Chat</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">Form</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="form.html" class="menu-item">
                        <i class="icon mdi mdi-file" aria-hidden="true"></i> 
                        <div class="title">General Form</div>
                    </a>
                </li>
                <li>
                    <a href="form-validation.html" class="menu-item">
                        <i class="icon mdi mdi-file-alert" aria-hidden="true"></i> 
                        <div class="title">Form Validation</div>
                    </a>
                </li>
                <li>
                    <a href="custom-form.html" class="menu-item">
                        <i class="icon mdi mdi-file-compare" aria-hidden="true"></i> 
                        <div class="title">Custom Form</div>
                    </a>
                </li>
                <li>
                    <a href="extended-form.html" class="menu-item">
                        <i class="icon mdi mdi-file-document-outline" aria-hidden="true"></i> 
                        <div class="title">Extended Form</div>
                    </a>
                </li>
                <li>
                    <a href="input-group.html" class="menu-item">
                        <i class="icon mdi mdi-calendar-text" aria-hidden="true"></i> 
                        <div class="title">Input Group</div>
                    </a>
                </li>
                <li>
                    <a href="button.html" class="menu-item">
                        <i class="icon mdi mdi-calendar-today" aria-hidden="true"></i> 
                        <div class="title">Button</div>
                    </a>
                </li>
                <li>
                    <a href="button-group.html" class="menu-item">
                        <i class="icon mdi mdi-calendar-multiple" aria-hidden="true"></i> 
                        <div class="title">Button Group</div>
                    </a>
                </li>
                <li>
                    <a href="dropdown.html" class="menu-item">
                        <i class="icon mdi mdi-calendar-multiselect" aria-hidden="true"></i> 
                        <div class="title">Dropdown</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">UI Elements</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="alert.html" class="menu-item">
                        <i class="icon mdi mdi-message-alert" aria-hidden="true"></i> 
                        <div class="title">Alert</div>
                    </a>
                </li>
                <li>
                    <a href="badge.html" class="menu-item">
                        <i class="icon mdi mdi-cube" aria-hidden="true"></i> 
                        <div class="title">Badge</div>
                    </a>
                </li>
                <li>
                    <a href="breadcrumb.html" class="menu-item">
                        <i class="icon mdi mdi-code-less-than" aria-hidden="true"></i> 
                        <div class="title">Breadcrumb</div>
                    </a>
                </li>
                <li>
                    <a href="card.html" class="menu-item">
                        <i class="icon mdi mdi-dice-2" aria-hidden="true"></i> 
                        <div class="title">Card</div>
                    </a>
                </li>
                <li>
                    <a href="carousel.html" class="menu-item">
                        <i class="icon mdi mdi-domain" aria-hidden="true"></i> 
                        <div class="title">Carousel</div>
                    </a>
                </li>
                <li>
                    <a href="chart.html" class="menu-item">
                        <i class="icon mdi mdi-chart-bar" aria-hidden="true"></i> 
                        <div class="title">Chart</div>
                    </a>
                </li>
                <li>
                    <a href="collapse.html" class="menu-item">
                        <i class="icon mdi mdi-file-document-box" aria-hidden="true"></i> 
                        <div class="title">Collapse</div>
                    </a>
                </li>
                <li>
                    <a href="color.html" class="menu-item">
                        <i class="icon mdi mdi-folder-edit" aria-hidden="true"></i> 
                        <div class="title">Color</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">UI Blocks</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="grid.html" class="menu-item">
                        <i class="icon mdi mdi-map-outline" aria-hidden="true"></i> 
                        <div class="title">Grid</div>
                    </a>
                </li>
                <li>
                    <a href="jumbotron.html" class="menu-item">
                        <i class="icon mdi mdi-microsoft" aria-hidden="true"></i> 
                        <div class="title">Jumbotron</div>
                    </a>
                </li>
                <li>
                    <a href="list-group.html" class="menu-item">
                        <i class="icon mdi mdi-map-legend" aria-hidden="true"></i> 
                        <div class="title">List Group</div>
                    </a>
                </li>
                <li>
                    <a href="lists.html" class="menu-item">
                        <i class="icon mdi mdi-note-multiple" aria-hidden="true"></i> 
                        <div class="title">Lists</div>
                    </a>
                </li>
                <li>
                    <a href="modal.html" class="menu-item">
                        <i class="icon mdi mdi-package" aria-hidden="true"></i> 
                        <div class="title">Modal</div>
                    </a>
                </li>
                <li>
                    <a href="pagination.html" class="menu-item">
                        <i class="icon mdi mdi-palette-swatch" aria-hidden="true"></i> 
                        <div class="title">Pagination</div>
                    </a>
                </li>
                <li>
                    <a href="progress.html" class="menu-item">
                        <i class="icon mdi mdi-playlist-edit" aria-hidden="true"></i> 
                        <div class="title">Progress</div>
                    </a>
                </li>
                <li>
                    <a href="table.html" class="menu-item">
                        <i class="icon mdi mdi-rounded-corner" aria-hidden="true"></i> 
                        <div class="title">Table</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">Text</div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="text-utilities.html" class="menu-item">
                        <i class="icon mdi mdi-stairs" aria-hidden="true"></i> 
                        <div class="title">Text Utilities</div>
                    </a>
                </li>
                <li>
                    <a href="typography.html" class="menu-item">
                        <i class="icon mdi mdi-text" aria-hidden="true"></i> 
                        <div class="title">Typography</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>