<form role="form" id="goldLoanForm" method="POST" autocomplete="off" accept-charset="UTF-8" name="form.thisForm" novalidate>
    <div class="row">
        <div class="col-12">
            <div class="content-box fadeInUp animated">
                <div class="px-15 pb-15">
                    <div class="container">
                        <div class="row mt-20">
                            <div class="col-12 col-md-6">
                                <div class="row no-gutters p-15 align-items-center">
                                    <div class="col-12 box-title">Customer Details</div>
                                </div>
                                <div class="px-15 pb-15">
                                    <div class="form-group">
                                        <label for="disbursementDate">Disbursement Date</label>
                                        <input class="form-control" type="text" format="DD-MM-YYYY" ng-model="formData.date" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a date..." moment-picker="formData.date">
                                    </div>
                                    <div class="form-group">
                                        <label for="customerName">Aadhar/PAN/Mobile No</label>
                                        <input type="text" class="form-control" id="customerName" ng-model="formData.customerInfo" aria-describedby="textHelp" ng-blur="getCustomerDetails()" placeholder="Enter Aadhar/PAN/Mobile No">
                                        <small id="textHelp" class="form-text text-muted mb-20">Put Aadhar No or PAN No or Mobile No and press TAB to find the customer exist or not.</small>
                                        <div ng-show="customerInfo">
                                            <div ng-if="!checkEmpty(customerData)" class="alert alert-success mb-0" role="alert">
                                                <h4 class="alert-heading">Existing Customer!</h4>
                                                <p>
                                                    Customer ID : {{customerData.id}}</br>
                                                    {{customerData.name}} [{{customerData.phone_no}}]</br>
                                                    {{customerData.address}}</br>
                                                </p>
                                            </div>
                                            <div ng-if="checkEmpty(customerData)" class="alert alert-danger" role="alert">No customer found!!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="row no-gutters p-15 align-items-center">
                                    <div class="col-12 box-title">Disbursement Details</div>
                                </div>
                                <div class="px-15 pb-15">
                                    <div class="form-group">
                                        <label for="loanAmount">Loan Amount</label>
                                        <input type="number" class="form-control" id="loanAmount" ng-model="formData.loanAmount" aria-describedby="textHelp" placeholder="Loan Amount" ng-change="calculateDisbursementAmount()">
                                        <small id="textHelp" class="form-text text-muted">Actual Loan Amount.</small> 
                                    </div>
                                    <div class="form-group">
                                        <label for="loanProcessingCharge">Processing Charge</label>
                                        <input type="number" class="form-control" id="loanProcessingCharge" ng-model="formData.loanProcessingCharge" aria-describedby="textHelp" placeholder="Processing Charge" ng-change="calculateDisbursementAmount()">
                                        <small id="textHelp" class="form-text text-muted">Processing charge will deduct from Actual Loan Amount at the time disbursement.</small> 
                                    </div>
                                    <div class="form-group">
                                        <label for="loanAdditionalCharge">Additional Charge</label>
                                        <input type="number" class="form-control" id="loanAdditionalCharge" ng-model="formData.loanAdditionalCharge" aria-describedby="textHelp" placeholder="Additional Charge" ng-change="calculateDisbursementAmount()">
                                        <small id="textHelp" class="form-text text-muted">Additional charge will deduct from Actual Loan Amount at the time disbursement.</small> 
                                    </div>
                                    <div class="form-group">
                                        <label for="disbursementAmount">Disbursement Amount</label>
                                        <input type="number" class="form-control" id="disbursementAmount" ng-model="formData.disbursementAmount" readonly="readonly" aria-describedby="textHelp">
                                        <small id="textHelp" class="form-text text-muted">Actual Loan Amount - Processing Charge - Additional Charge</small> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-box mt-20 fadeInUp animated">
                <div class="row no-gutters p-15 align-items-center">
                    <div class="col-12 box-title">Product Details</div>
                </div>
                <div class="px-15 pb-15">
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputState">Product</label>
                            <select id="inputState" class="form-control" ng-model="productRow.productKey" ng-change="get_product_details()">
                                <option value="" selected>Choose...</option>
                                <option ng-repeat="(key, value) in appData.products track by $index" value="{{key}}">{{value.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="productQty">Qty</label>
                            <input type="text" class="form-control" id="productQty" name="productQty" ng-model="productRow.productQty">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="productWeight">Weight</label>
                            <input type="text" class="form-control" id="productWeight" name="productWeight" ng-model="productRow.productWeight">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputState">Caret</label>
                            <select id="inputState" class="form-control" ng-model="productRow.caretKey" ng-change="get_caret_details()">
                                <option value="" selected>Choose...</option>
                                <option ng-repeat="(key, value) in appData.carets track by $index" value="{{key}}">{{value.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1 mt-28">
                            <button type="button" class="btn btn-primary" ng-click="addProductRow()">+</button>
                        </div>
                    </div>
                    <table class="table" ng-if="!checkEmpty(formData.productList)">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Caret</th>
                                <th scope="col">Loan Value</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in formData.productList track by $index">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{value.productName}}</td>
                                <td>{{value.productQty}}</td>
                                <td>{{value.productWeight}}</td>
                                <td>{{value.caretName}}</td>
                                <td>{{value.productValue}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeProductRow($index)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-if="!checkEmpty(formData.customerId)" ng-click="submit_form()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>